img {
    float: right;
    width:150px;
    max-width: 190px;
    height: auto;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
    margin: 1in 0.5in;
    background-color: white;
}
h1 {
    margin: 0;
    text-align: center;
    margin-top: 0;
}
div {
    margin-bottom: 20px;
}

h2 {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
     border-top: 2px solid black;
    padding-top: 10px;
}
.year {
    float: right;
    font-style: italic;
    color: #666;
}

ul {
    margin: 10px 0;
    padding-left: 20px;
}

li {
    margin-bottom: 5px;
}